.App {
  text-align: center;
}
.student{
  background-color: violet;
  padding: auto;
  border: 3px solid black;
  margin: auto;
  font-size: 30px;
  width: 40%;
  
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.User{
  
  padding: auto;
  border: 3px solid black;
  margin: auto;
  width: 50%;
  font-size:30px ;

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.modal{
  background-color: azure;
  padding: auto;
  align-items: center;
  border: 5px solid black;
  margin:auto;
  width:120%;
  font-size:30px;
  
}





.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
